---
import Commit from "@Function/Commit/Layout.astro";
---

<div>
	<h1 class="mb-2 text-2xl font-bold text-stone-900 dark:text-white">
		Latest Commits
	</h1>

	<h2 class="mb-4 text-lg text-stone-700 dark:text-stone-400">
		CodeEditorLand/Land
	</h2>

	<Commit user="CodeEditorLand" repo="Land" />
</div>
