---
import _UUID from "@Function/Commit/UUID/Fn.js";

const { user, repo } = Astro.props;

const UUID = _UUID();
---

<commit-table data-uuid={UUID}>
	<table>
		<thead>
			<tr>
				<th>Commit</th>
				<th>Author</th>
				<th>Date</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>5</td>
			</tr>
		</tbody>
	</table>
</commit-table>

<script>
	import DataTable from "datatables.net-dt";
	// import $ from "jquery";
	import jszip from "jszip";
	import pdfmake from "pdfmake";

	import "datatables.net-buttons-dt";
	import "datatables.net-buttons/js/buttons.colVis.mjs";
	import "datatables.net-buttons/js/buttons.html5.mjs";
	import "datatables.net-buttons/js/buttons.print.mjs";
	import "datatables.net-colreorder-dt";
	import "datatables.net-fixedcolumns-dt";
	import "datatables.net-fixedheader-dt";
	import "datatables.net-keytable-dt";
	import "datatables.net-responsive-dt";
	import "datatables.net-rowgroup-dt";
	import "datatables.net-rowreorder-dt";
	import "datatables.net-scroller-dt";
	import "datatables.net-searchbuilder-dt";
	import "datatables.net-searchpanes-dt";
	import "datatables.net-select-dt";
	import "datatables.net-staterestore-dt";

	class Commit extends HTMLDivElement {
		connectedCallback() {
			const UUID = this.dataset["uuid"];

			console.log(UUID);

			let table = new DataTable(`#${UUID} table`, {
				responsive: true,
			});

			console.log(table);
		}
	}

	customElements.define("commit-table", Commit, {
		extends: "div",
	});
</script>
