---
import "datatables.net-dt/css/dataTables.dataTables.css";
import "datatables.net-buttons-dt/css/buttons.dataTables.css";
import "datatables.net-colreorder-dt/css/colReorder.dataTables.css";
import "datatables.net-fixedcolumns-dt/css/fixedColumns.dataTables.css";
import "datatables.net-fixedheader-dt/css/fixedHeader.dataTables.css";
import "datatables.net-keytable-dt/css/keyTable.dataTables.css";
import "datatables.net-responsive-dt/css/responsive.dataTables.css";
import "datatables.net-rowgroup-dt/css/rowGroup.dataTables.css";
import "datatables.net-rowreorder-dt/css/rowReorder.dataTables.css";
import "datatables.net-scroller-dt/css/scroller.dataTables.css";
import "datatables.net-searchbuilder-dt/css/searchBuilder.dataTables.css";
import "datatables.net-searchpanes-dt/css/searchPanes.dataTables.css";
import "datatables.net-select-dt/css/select.dataTables.css";
import "datatables.net-staterestore-dt/css/stateRestore.dataTables.css";

const { user, repo } = Astro.props;

const Last = (
	await (
		await fetch(
			`https://api.github.com/repos/${user}/${repo}/commits?per_page=10`,
		)
	).json()
).map((Commit) => [
	Commit.message,
	Commit.commit.author.name,
	Commit.commit.author.date,
	Commit.html_url,
]);

const UUID = (await import("@Function/Commit/UUID/Fn.js")).default();
---

<commit-table data-uuid={UUID} data-data={JSON.stringify(Last)}>
	<table>
		<thead>
			<tr>
				<th>COMMIT MESSAGE</th>
				<th>AUTHOR</th>
				<th>DATE</th>
				<th>HREF</th>
			</tr>
		</thead>
	</table>
</commit-table>

<script>
	import DataTable from "datatables.net-dt";
	import jszip from "jszip";
	import pdfmake from "pdfmake";

	import "datatables.net-buttons-dt";
	import "datatables.net-buttons/js/buttons.colVis.mjs";
	import "datatables.net-buttons/js/buttons.html5.mjs";
	import "datatables.net-buttons/js/buttons.print.mjs";
	import "datatables.net-colreorder-dt";
	import "datatables.net-fixedcolumns-dt";
	import "datatables.net-fixedheader-dt";
	import "datatables.net-keytable-dt";
	import "datatables.net-responsive-dt";
	import "datatables.net-rowgroup-dt";
	import "datatables.net-rowreorder-dt";
	import "datatables.net-scroller-dt";
	import "datatables.net-searchbuilder-dt";
	import "datatables.net-searchpanes-dt";
	import "datatables.net-select-dt";
	import "datatables.net-staterestore-dt";

	class Commit extends HTMLElement {
		connectedCallback() {
			new DataTable(`[data-uuid=${this.dataset["uuid"]}] table`, {
				data: JSON.parse(this.dataset["data"] ?? "[]"),
				responsive: true,
				paging: true,
				fixedColumns: true,
				fixedHeader: true,
				scrollCollapse: true,
				scroller: true,
				scrollY: "200px",
				processing: true,

				// @deprecated
				// pagingType: "full_numbers",
			});
		}
	}

	customElements.define("commit-table", Commit);
</script>
