---
// const { user, repo } = Astro.props;

const UUID = (await import("@Function/Commit/UUID/Fn.js")).default();

const Data = [
	[
		"Tiger Nixon",
		"System Architect",
		"Edinburgh",
		"5421",
		"2011/04/25",
		"$3,120",
	],
	[
		"Garrett Winters",
		"Director",
		"Edinburgh",
		"8422",
		"2011/07/25",
		"$5,300",
	],
];
---

<commit-table data-uuid={UUID} data-data={JSON.stringify(Data)}>
	<table></table>
</commit-table>

<script>
	import DataTable from "datatables.net-dt";
	import jszip from "jszip";
	import pdfmake from "pdfmake";

	import "datatables.net-buttons-dt";
	import "datatables.net-buttons/js/buttons.colVis.mjs";
	import "datatables.net-buttons/js/buttons.html5.mjs";
	import "datatables.net-buttons/js/buttons.print.mjs";
	import "datatables.net-colreorder-dt";
	import "datatables.net-fixedcolumns-dt";
	import "datatables.net-fixedheader-dt";
	import "datatables.net-keytable-dt";
	import "datatables.net-responsive-dt";
	import "datatables.net-rowgroup-dt";
	import "datatables.net-rowreorder-dt";
	import "datatables.net-scroller-dt";
	import "datatables.net-searchbuilder-dt";
	import "datatables.net-searchpanes-dt";
	import "datatables.net-select-dt";
	import "datatables.net-staterestore-dt";

	class Commit extends HTMLElement {
		connectedCallback() {
			let table = new DataTable(
				`[data-uuid=${this.dataset["uuid"]}] table`,
				{
					// data: JSON.parse(this.dataset["data"] ?? "[]"),
					data: [
						{
							"name": "Tiger Nixon",
							"position": "System Architect",
							"salary": "$3,120",
							"start_date": "2011/04/25",
							"office": "Edinburgh",
							"extn": "5421",
						},
						{
							"name": "Garrett Winters",
							"position": "Director",
							"salary": "$5,300",
							"start_date": "2011/07/25",
							"office": "Edinburgh",
							"extn": "8422",
						},
					],
					// responsive: true,
				},
			);
		}
	}

	customElements.define("commit-table", Commit);
</script>
